@using WorkingGood.Tool.Shared.Logs
<div class="black-log-card overflow-auto">
    @foreach (var log in Logs)
    {
        <p>
            {
            <span style="@GetStyleForLevel(log.Level)">
                @log.Level
            </span>
            -
            <span>
                @log.TimeStamp
            </span>
            -
            <span>
                @log.Message
            </span>
            -
            <span>
                @log.Localization
            </span>
            -
            <span>
                @log.ServiceName
            </span>
            }
        </p>
    }
</div>

@code {

    [Parameter]
    public List<LogDto> Logs { get; set; } = new();

    private string GetStyleForLevel(string level)
    {
        if (level == "Error")
            return "color: red";
        if (level == "Info")
            return "color: green";
        if (level == "Warn")
            return "color: yellow";
        if (level == "Email")
            return "color: lightskyblue";
        return "color: white";
    }
}